#videopleer{
	background-color: aquamarine;
	display: inline:block;
}
img{
	background-color: Aqua;
}
#videotree {
	width:640px;
	height:640px;
}
#video {
	width:640px;
	height:640px;
}
#progresstree {
	background-color: CadetBlue;
}
#progress {
		width:5px;
	height:50%;
background-color : black
}
