#videopleer{
	background-color: aquamarine;
	display: inline:block;
}
img{
	background-color: Aqua;
}
#video-tree {
	width:640px;
	height:640px;
}
#video {
	width:640px;
	height:640px;
}
#progress-tree {
	background-color: CadetBlue;
}
#progress {
		width:5px;
	height:50%;
background-color : black
}
#button-tree {
	height:50px;
}
#button-tree > * {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}